menu "SD Card Logger Configuration"

    config SD_SPI_MOSI
        int "SD Card SPI MOSI GPIO"
        default 12

    config SD_SPI_SCK
        int "SD Card SPI SCK GPIO"
        default 13

    config SD_SPI_MISO
        int "SD Card SPI MISO GPIO"
        default 14

    config SD_SPI_CS
        int "SD Card SPI CS GPIO"
        default 11

    config SD_SPI_CD
        int "SD Card Card Detect GPIO (-1 to disable)"
        default 21
        help
            Card detect pin. KC868-A2v3: GPIO21. Set to -1 if not used.

endmenu
