menu "MQTT Client Configuration"

    config MQTT_BROKER_URI
        string "Default MQTT Broker URI"
        default "mqtt://broker.hivemq.com"

    config MQTT_DEVICE_ID_PREFIX
        string "MQTT Topic Path Prefix"
        default "kca2v3"
        help
            Prefix used in topic paths: prefix/{device_id}/sensors.

endmenu
